*{
    margin: 0%;
}
#main{
    height: 1020px;
    width:100%;
    background-image: url(Picture1.png);
}
#heading{
    margin-left: 30%;
    color: white;
    font-size: 60px;
}
#text{

    color: white;
    font-size: 30px;
    text-align: center;
}
#lower{
    color: white;
    text-align: center;
}
#electron{
    color: greenyellow;
    text-align: center;
}
#name{
    width: 100%;
    height: 100px;
    background-color: rgba(20, 26, 112, 0.726);
}
#name h1{
    font-size: 60px;
    margin-left: 133px;
    padding-top: 24px;
    color: rgb(243, 255, 254);
}
#name h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: xx-large;
    float: right;
    list-style-type: none;
    margin: 30px 5px ;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-width: 30px;
    border: 2px solid  white;
    padding: 5px 20px;
}

#name h2:hover{
    background-color: rgba(233, 233, 243, 0.678);
    color: rgb(0, 0, 0);
   }
#name img{
       margin-top: -115px;
}